@font-face {
  font-weight: normal;
  font-family: "Fira Sans";
  font-style: normal;
  src: url("../fonts/Firasansregular.woff2") format("woff2"), url("../fonts/Firasansregular.woff") format("woff"), url("../fonts/Firasansregular.ttf") format("truetype");
}

@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Firasansbold.woff2') format('woff2'), url('../fonts/Firasansbold.woff') format('woff'), url('../fonts/Firasansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "Fira Sans", "Arial", sans-serif;
  color: #15163C;
  font-style: normal;
  background-color: #FFFFFF;
}

html,body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  position: relative;
  height: 64px;
  width: 100%;
  margin-top: 41px;
  background-color: #155AA7;

}
.page-header__logo {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  margin-top: 41px;

}
.page-header__logo-wrapper {
  position: absolute;
  content: "";
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width: 136px;
  height: 136px;
  margin-top: -38px;
  margin-left: 1px;
  border-radius: 50%;
  background-color: white;
  z-index: -1;
}

.section-img {
  text-align: center;
  margin-top: 100px;
}

.section-img img {
  /*width: 100%;*/
}

.section-text {
  text-align: center;
}

.section-text p {
  margin: 0;
}
.section-text__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

}

.section-text__body {
  width: 899px;
  margin: 0 auto;
  margin-top: 24px;

  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #51515B;

}
.section-text__footer {
  width: 874px;
  height: 24px;

  margin: 0 auto;
  margin-top: 24px;

  background: radial-gradient(50% 50% at 50% 50%, #f3eded 0%, rgba(209, 209, 209, 0) 100%);
}

.section-text__footer p {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;

}

.page-footer {
  height: 111px;
  margin-top: 40px;
  text-align: center;
  border-top: 1px solid #D2DDE9;
}

.footer-text {
  margin-top: 24px;
  margin-bottom: 39px;
}


@media (min-width: 768px) {
  .section-img img {
    width: 459px;
  }

}
@media (min-width: 1200px) {

}

@media (max-width: 767px) {


}
@media (min-width: 768px) {

}
@media (min-width: 1200px) {

}
