#.htaccess
# Исключаем папку /bitrix кроме некоторых подпапок
!/bitrix
/bitrix/*

# оставляем печатные формы интернет-магазина
!/bitrix/admin/
/bitrix/admin/*
!/bitrix/admin/reports/

# оставляем нестандартные компоненты
!/bitrix/modules/
!/bitrix/components/
/bitrix/components/bitrix/

# сохраняем весь php_interface за редкими исключениями
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.ph*
/bitrix/php_interface/after_connect*
/bitrix/php_interface/logs/

# сохраняем шаблоны сайта
!/bitrix/templates/

# исключаем логи
/local/php_interface/logs/
/local/logs/

# исключаем загружаемые файлы
/upload/

/desktop_app
/htdocs
.nbproject
.idea
!/robots.txt
/*.txt
license_key.php
.vscode
*.log
google*
*.gz
*.tar
*.zip
*.sql
/*.xml
/*.ico
.vscode/
tags
/test
/local/config